$colors: (
  ash: #FBFAFA,
  black: #000000,
  dark: #534539,
  grey: #7a7a7a,
  light-grey: #9b9b9b,
  primary: #c09f64,
  white: #ffffff
);

$font-weights: (
  regular: 400,
  semi-bold: 600,
  bold: 700,
  black: 800
);

$font-sizes: (
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 18px,
  large: 24px,
  m-large: 35px,
  x-large: 40px,
  xx-large: 70px
);
